[user]
	name = Bryant Paz
	email = plbryant@hotmail.com
	username = plbryant
[init]
	defaultBranch = main
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[delta]
	features = line-numbers decorations
	line-numbers = true
  syntax-theme = base16
  navigate = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  require = true
[delta "decorations"]
  minus-style = "#d4969c"
  plus-style = "#b1a1d1"
  minus-emph-style = "#d4969c"
  minus-non-emph-style = "#d4969c"
  plus-emph-style = "#b1a1d1"
  plus-non-emph-style = "#b1a1d1"
  file-style = "#8fbcbb" bold
  file-decoration-style = "#8fbcbb"
  hunk-header-style = "#d08770"
  hunk-header-decoration-style = "#d08770"

[color]
  meta = "#b9a2bf"
  frag = "#75a7b3"
  old = "#d4969c"
  new = "#b1a1d1"
  whitespace = "#434c5e"
  added = "#b1a1d1"
  changed = "#d08770"
  untracked = "#d4969c"
