[user]
	name = Bryant Paz
	email = plbryant@hotmail.com
	username = plbryant
[init]
	defaultBranch = main
[core]
  editor = nvim
  pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
	features = decorations
	line-numbers = true
  syntax-theme = Dracula
  navigate = true
  true-color = always
[delta "decorations"]
  minus-style = bold "#ff5555" "#6272a4"
  plus-style = bold "#50fa7b" "#6272a4"
  minus-emph-style = "#ff5555"
  minus-non-emph-style = "#ff5555"
  plus-emph-style = "#50fa7b"
  plus-non-emph-style = "#50fa7b"
  file-style = "#bd93f9" bold
  file-decoration-style = "#bd93f9"
  hunk-header-style = "#f1fa8c"
  hunk-header-decoration-style = "#f1fa8c"
[merge]
  conflictstyle = diff3
