[Unit]
Description=Set custom keyboard layout
After=suspend.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
User=bryant
ExecStart=/bin/bash -c 'sleep 3 && /usr/bin/xmodmap /home/bryant/.Xmodmap'

[Install]
WantedBy=suspend.target
