[user]
	email = plbryant@hotmail.com
	name = Bryant Paz
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
[core]
	editor = nvim
  pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
  navigate = true
  light = true
  side-by-side = true
  line-numbers = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
