configuration {
    modi: "run,drun,window";
    icon-theme: "WhiteSur";
    terminal: "st";
    hide-scrollbar: true;
    display-run: "";
    display-drun: "";
    display-window: "";
    show-match: true;
 }

@theme "~/.config/rofi/theme.rasi"
