.config/gh
/.zsh/cache
.config/calibre
.config/jj/repos
.config/qBittorrent
.config/fish/plugins
/.config/mpd/mpd.log
/.config/mpd/mpdstate
.config/ncmpcpp/error.log
/.zsh/plugin.zwc
/.zsh/aliases.zwc
/.zsh/functions.zwc
/.zsh/path.zwc
/.zsh/config.zwc
/.config/mpd/mpd.pid
/.gnupg/private-keys-v1.d
/.gnupg
/.config/go/telemetry/
/.config/rclone
