# mdp
.conf/mpd/mpd.log
.conf/mpd/mpdstate
.conf/mpd/mpd.pid

# lazy
.conf/lazygit/state.yml

# qBittorrent
.conf/qBittorrent/qBittorrent-data.conf
.conf/qBittorrent/lockfile
.conf/qBittorrent/rss

# log
*.log
*.logs
