# mdp
.conf/mpd/mpd.log
.conf/mpd/mpdstate
.conf/mpd/playlist

# lazy
.conf/lazygit/state.yml

# ssh
.ssh

# gnupg
.gnupg

# qBittorrent
.conf/qBittorrent/qBittorrent-data.conf
.conf/qBittorrent/lockfile
.conf/qBittorrent/rss/storage.lock
.conf/qBittorrent/qBittorrent-data.conf
