! URxvt configuration.
URxvt.font:                       xft:Maple Mono NF:pixelsize=12:style:Bold,\
                                  xft:Font Awesome:size=9:autohint=true:style:Solid,\
                                  xft:Font Awesome:size=9:autohint=true:style:Regular,\
URxvt.geometry:                   400x400
URxvt.internalBorder:             5
URxvt.cursorBlink:                false
URxvt.cursorUnderline:            true
URxvt.saveLines:                  8192
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            true
URxvt.scrollBar_floating:         false
URxvt.scrollstyle:                plain
URxvt.scrollWithBuffer:           false
URxvt.urgentOnBell:               false
URxvt.depth:                      32
URxvt.iso14755:                   false
URxvt.cursorMode:                 0
URxvt.jumpScroll:                 true

! URxvt.iconFile:                   /home/username/.icons/Gladient/terminal.png

! Uncomment below if too much font spacing, and fix glyphs performance issues.
URxvt.letterSpace:                -1
! URxvt.skipBuiltinGlyphs:          true

! Disable printing the terminal contents when pressing PrintScreen.
! The strings will be interpreted as if typed into the shell as-is.
URxvt.print-pipe:                 "cat >/dev/null"

! Clear the scrollback buffer cleanly, the shell built-in sequence replacement.
URxvt.keysym.Control-Shift-L:     command:\033c

! URxvt extensions.
URxvt.perl-ext-common:            default,matcher,resize-font

! Eval built-in extension.
URxvt.keysym.Control-Shift-C:     eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V:     eval:paste_clipboard
URxvt.keysym.Control-Up:          eval:scroll_up 1
URxvt.keysym.Control-Down:        eval:scroll_down 1
URxvt.keysym.Control-Home:        eval:scroll_to_top
URxvt.keysym.Control-End:         eval:scroll_to_bottom

! Matcher built-in extension.
URxvt.keysym.Control-Shift-U:     matcher:select
URxvt.url-launcher:               /usr/bin/firefox-developer-edition
URxvt.matcher.button:             1
URxvt.matcher.rend.0:             Uline fg7

! Resize-font extension.
URxvt.keysym.Control-minus:       resize-font:smaller
URxvt.keysym.Control-plus:        resize-font:bigger
URxvt.keysym.Control-equal:       resize-font:reset
URxvt.keysym.Control-question:    resize-font:show
URxvt.resize-font.step:           1

! Fix shift tab
URxvt.iso14755_52:                False

! Nvim configuration keybinds
URxvt.keysym.Control-Tab:         \033[27;5;9~
URxvt.keysym.S-Return:            \033[13;2u
URxvt.keysym.C-Return:            \033[13;5u
URxvt.keysym.C-S-Return:          \033[13;6u

! ===================
! st settings
st.alpha: 1
st.borderpx: 0
st.font: Maple Mono NF:pixelsize=12:style:Bold

! Rose Pine Moon color scheme for st terminal

*background: #191724
*foreground: #c7aed6
*cursorColor: #c7aed6
*color0: #3e353b
*color8: #3d353b
*color1: #d4969c
*color9: #d4969c
*color2: #b1a1d1
*color10: #b1a1d1
*color3: #e9cdd0
*color11: #e9cdd0
*color4: #70a9a1
*color12: #70a9a1
*color5: #b58da6
*color13: #b58da6
*color6: #75a7b3
*color14: #75a7b3
*color7: #b9a2bf
*color15: #c5bdd2
