Xft.rgba: rgb
Xft.hinting: 1
Xft.antialias: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! st specific
*.background: #1e1e2e
*.foreground: #ffffff
*.cursorColor: #d2a2cf

*.color0:     #1e1e2e
*.color8:     #666666
*.color1:     #cc6666
*.color9:     #d54e53
*.color2:     #b5bd68
*.color10:    #b9ca4a
*.color3:     #f0c674
*.color11:    #e7c547
*.color4:     #81a2be
*.color12:    #7aa6da
*.color5:     #b294bb
*.color13:    #c397d8
*.color6:     #8abeb7
*.color14:    #70c0b1
*.color7:     #c5c8c6
*.color15:    #eaeaea

st.alpha: 0.87
st.chscale: 1.00
st.cwscale: 1.10
st.borderpx: 0px
st.currentfont: 2

! Nsxiv specific
Nsxiv.window.background: #1e1e2e
Nsxiv.window.foreground: #ffffff

! DWM specific configurations
dwm.selbgcolor: #A5509F
dwm.selfgcolor: #ffffff
dwm.normbgcolor: #000000
dwm.normfgcolor: #817f7f
dwm.selbordercolor: #A5509F
dwm.normbordercolor: #817f7f
