#!/usr/bin/sh

# main
alias :q="exit"
alias cl="clear"
alias sudo="sudo "
alias pass="gopass"
alias transes="trans en:es"
alias vi="NVIM_APPNAME='minimal' nvim"

# fihs
alias sp="systemctl suspend"
alias dh="rm ~/.history.db"
alias sht="shutdown now"
alias clear="clear; printf '\033[4 q'"
alias fontcache="sudo fc-cache -f -v"
alias cristiano="mpv ~/mega/personal/pc/videos/biy/dios.mp4"
alias rel="xrdb merge ~/.Xresources && kill -USR1 $(pidof st)"
alias leetcode="vi leetcode.vi"
alias ff="fastfetch"

alias gb="git branch"
alias glg="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --all"
alias gsb="git status --short --branch"
alias lzg="lazygit"
alias gdc="git diff --cached"
alias gd="git diff"
alias gco="git checkout"
alias gaa="git add -A"
alias gc="git commit"
alias ggpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
alias ggpull='git pull origin $(git rev-parse --abbrev-ref HEAD)'

alias lzd="lazydocker"

alias ta="tmux attach"
alias tc="vi ~/.tmux.conf"
alias tk="tmux kill-server"
alias tn='tmux new -s $USER'

# docker
alias tachidesk='cd ~/documents/github/tachidesk && docker compose start'
