a[href*="grok"] {
	display: none;
}

a[href*="premium_sign_up"] {
	display: none;
}
a[href*="highlights"] {
	display: none;
}

a[href*="articles"] {
	display: none;
}

a[href*="verified-orgs"] {
	display: none;
}

a[href*="communities"] {
	display: none;
}

a[href*="communities"] {
	display: none;
}

a[href*="communitynotes"] {
	display: none;
}

a[href*="jobs"] {
	display: none;
}

/*Font weight*/
.r-a023e6 {
	font-size: 15px !important;
}

/*Padding left side list*/
.r-xyw6el {
	padding: 6px !important;
}
/*Font size likes and commenst icons bellow post*/
.r-n6v787 {
	font-size: 15px;
}

/* Hide subscribe premium*/
#react-root
	> div
	> div
	> div.css-175oi2r.r-1f2l425.r-13qz1uu.r-417010.r-18u37iz
	> main
	> div
	> div
	> div
	> div.css-175oi2r.r-aqfbo4.r-10f7w94.r-1hycxz
	> div
	> div.css-175oi2r.r-1hycxz.r-gtdqiz
	> div
	> div
	> div
	> div
	> div:nth-child(3) {
	display: none;
}

/* Hide who to follow*/
#react-root
	> div
	> div
	> div.css-175oi2r.r-1f2l425.r-13qz1uu.r-417010.r-18u37iz
	> main
	> div
	> div
	> div
	> div.css-175oi2r.r-aqfbo4.r-10f7w94.r-1hycxz
	> div
	> div.css-175oi2r.r-1hycxz.r-gtdqiz
	> div
	> div
	> div
	> div
	> div:nth-child(6) {
	display: none;
}
